# editor temporary / backup files
*~

data

# built objects
genfiles/
locales/*.UTF-8
!locales/merge-en.sh
py-compile
__pycache__
*.la
*.o
.deps/
.dirstamp
*.lo
.libs/
libvalhalla.la
date_time_zonespec.csv

# tools
.cproject
.project
.settings
CMakeLists.txt.user
/.vs*/
/*build*/
/CMakeSettings.json
.idea
/.tidytmp
*.log

# clangd
.cache/

# documentation
site/
*.gph

.DS_Store

CHANGELOG.md
NEWS
